{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample</title>
    <link rel="stylesheet" href="{% static 'css/sample.css' %}">
    <style>
        #a{
            display: inline-block;
            color: blue;
            margin-top: 20px;
            position: relative;
            background-color: white;
        }
        p{
            background: radial-gradient(ellipse,cyan,rgba(192, 255, 255, 0.84));
            color: black;
        }
    </style>
</head>
<body>
    <center>
        <h1>Specific Static Files</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia, ipsa. Voluptas nobis amet aliquam 
            eos necessitatibus fuga in! Quod laudantium earum doloremque voluptate dolor maiores odit exercitationem
            nemo aperiam esse.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia, ipsa. Voluptas nobis amet aliquam 
            eos necessitatibus fuga in! Quod laudantium earum doloremque voluptate dolor maiores odit exercitationem
            nemo aperiam esse.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia, ipsa. Voluptas nobis amet aliquam 
            eos necessitatibus fuga in! Quod laudantium earum doloremque voluptate dolor maiores odit exercitationem
            nemo aperiam esse.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia, ipsa. Voluptas nobis amet aliquam 
            eos necessitatibus fuga in! Quod laudantium earum doloremque voluptate dolor maiores odit exercitationem
            nemo aperiam esse.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia, ipsa. Voluptas nobis amet aliquam 
            eos necessitatibus fuga in! Quod laudantium earum doloremque voluptate dolor maiores odit exercitationem
            nemo aperiam esse.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia, ipsa. Voluptas nobis amet aliquam 
            eos necessitatibus fuga in! Quod laudantium earum doloremque voluptate dolor maiores odit exercitationem
            nemo aperiam esse.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia, ipsa. Voluptas nobis amet aliquam 
            eos necessitatibus fuga in! Quod laudantium earum doloremque voluptate dolor maiores odit exercitationem
            nemo aperiam esse.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia, ipsa. Voluptas nobis amet aliquam 
            eos necessitatibus fuga in! Quod laudantium earum doloremque voluptate dolor maiores odit exercitationem
            nemo aperiam esse.

        </p>
        <h2>Headind tag is ended</h2><br>
        <h1 id="a">Specific Static Files</h1>
    </center>
</body>
</html>