{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Specific Static</title>
    <link rel="stylesheet" href="{% static 'css/specific.css' %}">
    <style>
        h1{
            border-radius: 25px;
        }
        p{
            text-align: justify;
        }
        div{
            display: flex;
            justify-content: space-evenly;
        }
        .a{
            width: 250px;
            height: 250px;
        }
    </style>
</head>
<body>
    <center>
        <h1>Indian Cricket Team</h1>
        <p>
            Cricket has been the most popular sport in India, it is played almost everywhere in the country[4][unreliable 
            source?] and a prominent part of the country. The Board of Control for Cricket in India (BCCI) is the governing 
            body of Indian cricket and conduct all domestic tournaments and select the players for India national cricket 
            team and India women's national cricket team. Domestic competitions in India annually organized by BCCI include 
            the Ranji Trophy, the Duleep Trophy, the Vijay Hazare Trophy, the Deodhar Trophy, the Irani Trophy and the NKP 
            Salve Challenger Trophy. The Indian Premier League, a Twenty20 tournament where various city-based franchises 
            compete in a style similar to American football, is one of the biggest sporting leagues and the biggest cricketing 
            league in the world. In 2023 it launched similar league for females, the Women's Premier League (WPL). International 
            cricket in India does not follow a consistent pattern, unlike other cricketing teams such as England, who tour other 
            countries during the winter and play at home during the summer. The Indian cricket team is one of the most successful 
            cricket teams in the world, having won 2 ICC World Cups, 1 ICC World Twenty20, 2 ICC Champion's Trophies and finished 
            runners up in the inaugural edition of the ICC World Test Championship. The 2021 ICC Men's T20 World Cup, was initially 
            meant to be hosted by India. However, after the escalation of the COVID-19 Pandemic in India, the tournament was moved 
            by the ICC to the United Arab Emirates. The 2023 Cricket World Cup will be hosted by India. Indian cricketers association 
            is the country's retired cricketer's union. It is recognized by BCCI, but the latter do not allow any active player to be 
            part of it or any other players union. BCCI keep ICA's representative in its and IPL's apex council.
        </p>
        <div>
            <img class="a" src="https://upload.wikimedia.org/wikipedia/en/thumb/8/8d/Cricket_India_Crest.svg/1200px-Cricket_India_Crest.svg.png" alt="">
            <img class="a" src="https://www.mapsofindia.com/ci-moi-images/my-india/2017/07/Indian-Women-Cricket-team.jpg" alt="">
            <img class="a" src="https://www.insidesport.in/wp-content/uploads/2022/04/WhatsApp-Image-2022-04-02-at-11.23.43.jpeg" alt="">
            <img class="a" src="https://img.jagranjosh.com/images/2021/December/20122021/1983WorldCupIndianWinningTeam.jpg" alt="">
            <img class="a" src="https://img1.hscicdn.com/image/upload/f_auto,t_ds_wide_w_800,q_50/lsci/db/PICTURES/CMS/353500/353506.6.jpg" alt="">
        </div>
    </center>
</body>
</html>